/* src/components/App/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: transform 0.3s ease;
}

main {
  flex-grow: 1;
}

.shifted {
  transform: translateX(250px);
}
